In [1]:
import pandas as pd

path = r"C:\\Users\\larsd\\OneDrive - TU Eindhoven\\Universiteit\\Jaar 3\\Kwartiel 3\\8P361 - Project Imaging\\results\\"
model_names = ["EfficientNet", "Inception", "ResNet", "VGG16", "Xception"]

df0 = pd.read_csv(path+model_names[0]+"_submission.csv")
df0 = df0.rename(columns={'label': model_names[0]})

df1 = pd.read_csv(path+model_names[1]+"_submission.csv")
df1 = df1.rename(columns={'label': model_names[1]})

df2 = pd.read_csv(path+model_names[2]+"_submission.csv")
df2 = df2.rename(columns={'label': model_names[2]})

df3 = pd.read_csv(path+model_names[3]+"_submission.csv")
df3 = df3.rename(columns={'label': model_names[3]})

df4 = pd.read_csv(path+model_names[4]+"_submission.csv")
df4 = df4.rename(columns={'label': model_names[4]})

df = pd.merge(df0, df1)
df = pd.merge(df, df2)
df = pd.merge(df, df3)
df = pd.merge(df, df4)
df

,id,EfficientNet,Inception,ResNet,VGG16,Xception
0,00006537328c33e284c973d7b39d340809f7271b,0.503348,0.478034,0.999171,0.998745,0.993316
1,0000ec92553fda4ce39889f9226ace43cae3364e,0.959156,0.518892,0.934810,0.698900,0.952450
2,00024a6dee61f12f7856b0fc6be20bc7a48ba3d2,0.396475,0.575155,0.992789,0.893880,0.835915
3,000253dfaa0be9d0d100283b22284ab2f6b643f6,0.560131,0.648605,0.984799,0.996066,0.675391
4,000270442cc15af719583a8172c87cd2bd9c7746,0.019242,0.192873,0.001395,0.011430,0.002332
...,...,...,...,...,...,...
57453,fffdd1cbb1ac0800f65309f344dd15e9331e1c53,0.022752,0.147148,0.035865,0.001352,0.000633
57454,fffdf4b82ba01f9cae88b9fa45be103344d9f6e3,0.001911,0.176237,0.048932,0.009463,0.013224
57455,fffec7da56b54258038b0d382b3d55010eceb9d7,0.014254,0.290546,0.014500,0.001723,0.000219
57456,ffff276d06a9e3fffc456f2a5a7a3fd1a2d322c6,0.091700,0.420927,0.757315,0.834874,0.503107
57457,ffffeb4c0756098c7f589b7beec08ef1899093b5,0.007258,0.134338,0.007222,0.058762,0.033223

In [2]:
for model in model_names:
    df.loc[df[model] < 0.5, model] = 0
    df.loc[df[model] >= 0.5, model] = 1
df

,id,EfficientNet,Inception,ResNet,VGG16,Xception
0,00006537328c33e284c973d7b39d340809f7271b,1.0,0.0,1.0,1.0,1.0
1,0000ec92553fda4ce39889f9226ace43cae3364e,1.0,1.0,1.0,1.0,1.0
2,00024a6dee61f12f7856b0fc6be20bc7a48ba3d2,0.0,1.0,1.0,1.0,1.0
3,000253dfaa0be9d0d100283b22284ab2f6b643f6,1.0,1.0,1.0,1.0,1.0
4,000270442cc15af719583a8172c87cd2bd9c7746,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
57453,fffdd1cbb1ac0800f65309f344dd15e9331e1c53,0.0,0.0,0.0,0.0,0.0
57454,fffdf4b82ba01f9cae88b9fa45be103344d9f6e3,0.0,0.0,0.0,0.0,0.0
57455,fffec7da56b54258038b0d382b3d55010eceb9d7,0.0,0.0,0.0,0.0,0.0
57456,ffff276d06a9e3fffc456f2a5a7a3fd1a2d322c6,0.0,0.0,1.0,1.0,1.0
57457,ffffeb4c0756098c7f589b7beec08ef1899093b5,0.0,0.0,0.0,0.0,0.0

In [3]:
df["Sum"] = df["EfficientNet"] + df["Inception"] + df["ResNet"] + df["VGG16"] + df["Xception"]
df

,id,EfficientNet,Inception,ResNet,VGG16,Xception,Sum
0,00006537328c33e284c973d7b39d340809f7271b,1.0,0.0,1.0,1.0,1.0,4.0
1,0000ec92553fda4ce39889f9226ace43cae3364e,1.0,1.0,1.0,1.0,1.0,5.0
2,00024a6dee61f12f7856b0fc6be20bc7a48ba3d2,0.0,1.0,1.0,1.0,1.0,4.0
3,000253dfaa0be9d0d100283b22284ab2f6b643f6,1.0,1.0,1.0,1.0,1.0,5.0
4,000270442cc15af719583a8172c87cd2bd9c7746,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
57453,fffdd1cbb1ac0800f65309f344dd15e9331e1c53,0.0,0.0,0.0,0.0,0.0,0.0
57454,fffdf4b82ba01f9cae88b9fa45be103344d9f6e3,0.0,0.0,0.0,0.0,0.0,0.0
57455,fffec7da56b54258038b0d382b3d55010eceb9d7,0.0,0.0,0.0,0.0,0.0,0.0
57456,ffff276d06a9e3fffc456f2a5a7a3fd1a2d322c6,0.0,0.0,1.0,1.0,1.0,3.0
57457,ffffeb4c0756098c7f589b7beec08ef1899093b5,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.loc[:, "Class"] = 0
df.loc[df["Sum"] >= 3, "Class"] = 1
df

,id,EfficientNet,Inception,ResNet,VGG16,Xception,Sum,Class
0,00006537328c33e284c973d7b39d340809f7271b,1.0,0.0,1.0,1.0,1.0,4.0,1
1,0000ec92553fda4ce39889f9226ace43cae3364e,1.0,1.0,1.0,1.0,1.0,5.0,1
2,00024a6dee61f12f7856b0fc6be20bc7a48ba3d2,0.0,1.0,1.0,1.0,1.0,4.0,1
3,000253dfaa0be9d0d100283b22284ab2f6b643f6,1.0,1.0,1.0,1.0,1.0,5.0,1
4,000270442cc15af719583a8172c87cd2bd9c7746,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...
57453,fffdd1cbb1ac0800f65309f344dd15e9331e1c53,0.0,0.0,0.0,0.0,0.0,0.0,0
57454,fffdf4b82ba01f9cae88b9fa45be103344d9f6e3,0.0,0.0,0.0,0.0,0.0,0.0,0
57455,fffec7da56b54258038b0d382b3d55010eceb9d7,0.0,0.0,0.0,0.0,0.0,0.0,0
57456,ffff276d06a9e3fffc456f2a5a7a3fd1a2d322c6,0.0,0.0,1.0,1.0,1.0,3.0,1
57457,ffffeb4c0756098c7f589b7beec08ef1899093b5,0.0,0.0,0.0,0.0,0.0,0.0,0

In [5]:
df_submission = [df["id"], df["Class"]]
headers = ["id", "label"]
df_submission = pd.concat(df_submission, axis=1, keys=headers)
df_submission = df_submission.set_index("id")
df_submission

                                          label
id
00006537328c33e284c973d7b39d340809f7271b      1
0000ec92553fda4ce39889f9226ace43cae3364e      1
00024a6dee61f12f7856b0fc6be20bc7a48ba3d2      1
000253dfaa0be9d0d100283b22284ab2f6b643f6      1
000270442cc15af719583a8172c87cd2bd9c7746      0
...                                         ...
fffdd1cbb1ac0800f65309f344dd15e9331e1c53      0
fffdf4b82ba01f9cae88b9fa45be103344d9f6e3      0
fffec7da56b54258038b0d382b3d55010eceb9d7      0
ffff276d06a9e3fffc456f2a5a7a3fd1a2d322c6      1
ffffeb4c0756098c7f589b7beec08ef1899093b5      0

[57458 rows x 1 columns]

In [6]:
df_submission.to_csv(r"C:\Users\larsd\OneDrive - TU Eindhoven\Universiteit\Jaar 3\Kwartiel 3\8P361 - Project Imaging\majority_voting_submission.csv")